.main-body{
    background-color: aqua;
   
   
    
}

ul{
  padding: 10px;
  margin-left: -30px;
}

ul li{
    list-style: none;
   
    background-color: aquamarine;
    height: 40px;
    line-height:40px ;
    margin-bottom: 2px;
    text-indent: 5px;

   transition: 2s;
   
   
}

ul li:hover{

        text-indent: 50%;
        background-color: aqua;
        cursor: pointer;
       
    
}


.container .row{
display: flex;
justify-content: center;
padding: 15px;
position: sticky;
  
    
}

.row1{
    background-color: rgb(248, 248, 248);
    margin: 10px;
    height:400px;
    width: 400px;
    border: 1px solid black;
    
   
}
.row2 {
    background-color: rgb(248, 248, 248);
    margin: 10px;
    height:400px;
    width: 400px;
    border: 1px solid black;
}
#content5 .row{
    display: flex;
    transition: 1s;
   
}
#content5 .row:nth-child(even){
   
    background-color: rgb(223, 218, 213);
 
}
#content5 .row:hover{
    background-color: aqua;
    margin-left: -50%;
    width: 600px;
    cursor: pointer;
    box-shadow: 10px 10px 10px 10px;
    
    
}
   

#div-spinner {
    height: 100px;
    width: 100px;
    
    border-top: 10px solid red;
    border-right: 10px solid green;
    border-bottom: 10px solid blue;
    border-left: 10px solid yellow; 
    color: #FFFFFF;
    align-self: center;
    border-radius: 50%;
    
    animation-name: spin, move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position:relative;
   
   
    
   
  

}
#div-box {
    height: 100px;
    width: 100px;
   background-color: teal;
    color: #FFFFFF;
    align-self: center;
   
    
    animation-name:  move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position:relative;
   

}
#div-ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-self: center;

    background-image: url("../images/ball.png");

    background-size: contain;
    animation-name:  moveball;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position:relative

}


@keyframes spin {
    0% {
        transform: rotate(0deg); 
        
    }

   25% {
        transform: rotate(-180deg);
       
    }
   50% {
        transform: rotate(-360deg);
        
    }
    75% {
        transform: rotate(-540deg);
        
    }
    100% {
        transform: rotate(-720deg);
        
    }
}

@keyframes moveball {
    0%{
        transform: rotate(0deg); 
        margin-left: 100px;
        top: 0px;
        
    }

  25% {
        transform: rotate(180deg);
        margin-left: 100px;
        top: 150px;
       
    }
    50% {
        transform: rotate(360deg);
        margin-left: 100px;
        top: 300px;
       
    }
    75% {
        transform: rotate(180deg);
        margin-left: 100px;
        top: 150px;
        
       
    }
    100% {
        transform: rotate(0deg);
        margin-left: 100px;
        top: 0px;
       
       
    }
  
}


@keyframes move{
    0% {
        top: 0px; left: 0px;
        
    }

   25% {
        top: 0px; left: 210px;
       
    }
    50% {
        top: 300px; left: 210px;
        
    }
    75% {
        top: 300px; left: -10px;
        
    }
    100% {
        top: 0px; left: -10px;
        
        
    }
}
@media only screen and (max-width:650px){
   
    #div-spinner{
        height: 100px;
        width: 100;
    }

    @keyframes move{
        0% {
            top: 0px; left: 0px;
            
        }
    
       25% {
            top: 0px; left: 340px;
           
        }
        50% {
            top: 300px; left: 340px;
            
        }
        75% {
            top: 300px; left: -10px;
            
        }
        100% {
            top: 0px; left: -10px;
            
            
        }
    }
    
}