@media	(width<=500px){
	.typing-animation{
		font-size: 28pt !important;
	}
	.cursor{
		font-size: 28pt !important;
	}
}
@media (width<=1024px){
	.collapse{
		position: relative;
	}
	.typing-animation{
		font-size: 34pt;
	}
	.cursor{
		font-size: 34pt;
	}

	#web-stacksimg i{
		font-size: 22pt;
	}
	
	.row-content{
		margin-top: 50% !important
	}
	.content{
		width: 100% !important;
		padding: 0px !important;
		margin: 0px !important;
	}
	#cybercert img{
	height: 100%;
	width: 100%;
}

.galleryx div img{
	width:300px;
	max-height: 200px;

	
}

}